<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TackleImpossible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAB48C7D1C5D4780009D2615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB48C911C5D4780009D2615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB48C9C1C5D4780009D2615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
